body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%; /* Ajustado para ocupar toda a altura */
    display: flex;
    flex-direction: column; /* Para permitir que o header e outros elementos se empilhem */
  }
  
  header {
    background: green;
    height: 90px;
    display: flex; /* Flexbox para alinhar o conteúdo */
    align-items: center; /* Centraliza o conteúdo verticalmente */
  }
  
  header img {
    padding: 15px;
    border-radius: 13%;
  }

  .botoes-wrap {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da tela */
  }
  
  .botoes-wrap2 {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    display: flex; /* Exibe os itens em linha */
    gap: 80px; /* Espaçamento entre os botões */
    a {
        justify-content: center !important;
        display: flex !important;
        align-items: center !important;
        font-size: larger;
  }
}

.btn-success{
  display: flex; /* Permite centralizar texto */
  width: 200px; /* Largura do botão */
  height: 150px; /* Altura do botão */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 10px; /* Bordas arredondadas (opcional) */
  transition: background-color 0.3s; /* Transição suave para hover */
} 
.btn:hover {
  background-color: #218838; /* Cor do botão ao passar o mouse */
}
